# pixi environments
.pixi/*
!.pixi/config.toml

# bytecode
*.pyc

# We don't bundle any data
examples/data/

# coverage
.coverage
.coverage.*
htmlcov/

# build artefacts
dist/
build/
*.egg-info/

# `uv venv`, as the minimum-dependencies CI job makes it
.venv/
